name: Run linter

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Linter
    env:
      REPO : qerv
      VLNV : qerv
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          path: qerv
      - run: sudo apt install verilator
      - run: pip3 install fusesoc
      - run: fusesoc library add serv https://github.com/olofk/serv
      - run: fusesoc library add $REPO $GITHUB_WORKSPACE/$REPO
      - run: fusesoc run --target=lint $VLNV
      - run: fusesoc run --target=lint servant
#      - run: fusesoc run --target=lint serving
